.home-container{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem 0;
}

.no-item{
  text-align: center;
  font-size: 1.25rem;
  color: black;
  font-weight: 800;
}

.guide-btn{
  background: aquamarine;
  color: black;
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  border: radius 8px;
  transition: background-color 0.5s ease;
  border-radius: 1rem;
}
.guide-btn:hover{
  background: blue;
  
}

@media (max-width:1024px){
  .no-item{
    font-size: 2.25rem;
  }
}

@media (max-width:768px){
  .home-container{
    max-width: 640px;
  }
}